.article {
    padding: 20px;
}

.article-header,
.article-image {
    margin: 20px 0;
}

.article-image img {
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.article-content p {
    text-align: justify;
    text-justify: inter-word;
}

.author-box {
    display: flex;
}

.author-box .desc {
    padding: 10px;
}

.aside {
    margin: 20px 0;
}