.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5)
}

.carousel-item img {
    object-fit: cover;
    max-height: 350px;
}

.image-card,
.image-card .card-img {
    border: none !important;
    border-radius: 0 !important;
    height: 300px;
}

.image-card a {
    color: white;
}

.image-card a:hover {
    color: orange;
}

.image-card .card-img {
    object-fit: cover;
}

.image-card .card-img-overlay {
    top: auto;
    background: linear-gradient( to bottom, transparent, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75));
}

.horizontal-card .img-fluid {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.grid-card {
    margin: 5px;
}

.grid-card .card-img-top {
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.horizontal-card .row {
    overflow: hidden;
}

@media screen and (min-width: 1140px) {
    .horizontal-card {
        max-height: 250px;
    }
}